html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #cccccc;
}


.button {
    display: inline-block;
    border: 3px solid white;
    background-color: #552200;
    color: white;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

#output {
    position:relative;
    top: 0rem;
    width: 100%;
    text-align: center;
}

.nameField {
    margin: 0 2px;
    font-size: 16px;
}

.notesField {
    margin: 0 2px;
    font-size: 16px;
    margin-top: 2em;
}

#search_div {
    text-align: center;
}

.nameList {
    list-style-type: none;
    padding-left: 0;
}

#coffees {
    position: relative;
    top: 0rem;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: auto;
}

#grinds {
    position: relative;
    top: 0rem;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: auto;
}

#weights {
    position: relative;
    top: 0;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: auto;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li, label {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}

table {
    border: dashed thin;
    margin: 1em auto;
}

th {
    white-space: nowrap;
    padding: 0.2em;
}

td {
    border: dotted thin;
    text-align: center;
    white-space: nowrap;
    padding 0.5rem 2rem;
}

html {
  background-color: #cccccc;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #663300;
  padding: 0 20px 20px 20px;
  border: 5px solid #cccccc;
}

h1 {
  margin: 0;
  padding: 20px 0;  
  color: #cccccc;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
